<%-include('../admin/layout/admin-header.ejs') -%>

  <div class="col-lg">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Add Car</div>
        <hr>
        <form action="/admin/addproduct" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="input-1">Category</label>
            <select class="group input-group form-control" name="type" id="">
              <option value="" selected>Select Your Category</option>
              <% type.forEach(function(type){ %>

                <option value="<%= type._id%>">
                  <%= type.typeName %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="input-2">Brand</label>
            <select class="group input-group form-control" name="brand" id="">
              <option value="" selected>Select Your Brand</option>
              <% brand.forEach(function(brand){ %>
                <option value="<%= brand._id %>">
                  <%= brand.brand %>
                </option>
                <% }) %>
            </select>
          </div>


          <div class="form-group">
            <label for="input-3">Fuel Type</label>
            <select class="group input-group form-control" name="fuelType" id="">
              <option value="" selected>Select By Fuel</option>
              <% fuel.forEach(function(fuel){ %>
                <option value="<%= fuel._id  %>">
                  <%= fuel.fuelType %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="input-3">Location</label>
            <select class="group input-group form-control" name="location" id="">
              <option value="" selected>Select By Location</option>
              <% location.forEach(function(loc){ %>
                <option value="<%= loc._id  %>">
                  <%= loc.location %>
                </option>
                <% }) %>
            </select>
          </div>

          <div class="form-group">
            
          </div> 

          <div class="form-group">
            <label for="input-4">Name</label>
            <input class="form-control" id="input-4" type="text" placeholder="Car Name" required name="productName">
          </div>

          <div class="form-group">
            <label for="input-5">Details</label>
            <input class="form-control" id="input-5" type="text" placeholder="Details" required name="description">
          </div>

          <div class="form-group">
            <label for="input-5">Registration</label>
            <input class="form-control" id="input-5" type="text" placeholder="Registration" required name="reg">
          </div>

          <div class="form-group">
            <label for="input-5">Transmission</label>
            <input class="form-control" id="input-5" type="text" placeholder="Details" required name="transmission">
          </div>

          <div class="form-group">
            <label for="input-5">Year</label>
            <input class="form-control" id="input-5" type="tel" placeholder="Year" required name="year">
          </div>

          <div class="form-group">
            <label for="input-5">KM</label>
            <input class="form-control" id="input-5" type="tel" placeholder="KM" required name="km">
          </div>

          <div class="form-group">
            <label for="input-5">Owner</label>
            <input class="form-control" id="input-5" type="tel" placeholder="Owner" required name="owner">
          </div>

          <div class="form-group">
            <label for="input-5">Price</label>
            <input class="form-control" id="input-5" type="tel" placeholder="Price" required name="price">
          </div>
          
          <div class="form-group">
            <label for="input-5">Advance Amount</label>
            <input class="form-control" id="input-5" type="tel" placeholder="Advance Amount" required name="advance">
          </div>

          <div class="form-group">
            <label for="input-5">Image</label>
            <input type="file" multiple class="form-control" id="input-5" name="image" required
              placeholder="Choose an image" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success px-5"> Add Car</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <%-include('../admin/layout/admin-footer.ejs') -%>