<%-include('./layout/user-header.ejs') -%>


    <!-- breadcrumb-section -->
    <div class="homepage-slider">
        <% banner.forEach(function(x) { %>
            <div class="single-homepage-slider " style=" background-image: url('/images/cars/<%=x.image %>');">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
                            <div class="hero-text">
                                <div class="hero-text-tablecell">
                                    <p class="subtitle">
                                        <%= x.bannerName %>
                                    </p>
                                    <h1>
                                        <%= x.description %>
                                    </h1>
                                    <div class="hero-btns">
                                        <a href="/allproducts" class="boxed-btn">Show Collection</a>
                                        <a href="contact.html" class="bordered-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
    <!-- end breadcrumb section -->

    <!-- products -->
    <div class="product-section mt-150 mb-150">
        <div class="container">


            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-150">
                <a class="navbar-brand" href="">Filter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item dropdown">
                      
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Category
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <% type.forEach((category)=>{%>
                                <a class="dropdown-item" href="/categoryFilter/<%= category._id%>">  <%=category.typeName%></a>
                         
                                <% })%>
                              </div>
                       
                        
                        
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Brand
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% brand.forEach((brand)=>{%>
                            
                                <a class="dropdown-item" href="/brandFilter/<%= brand._id%>">  <%=brand.brand%></a>
                            
                           <% }) %>
                    
                        </div>
                      </li>
                    
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Fuel Type
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% fuel.forEach((fuel)=>{%>
                            
                            <a class="dropdown-item" href="/fuelFilter/<%= fuel._id%>">  <%=fuel.fuelType%></a>
                        
                       <% }) %>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Location
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <% location.forEach((loc)=>{%>
                              
                              <a class="dropdown-item" href="/locationFilter/<%= loc._id%>">  <%=loc.location%></a>
                          
                         <% }) %>
                        </div>
                      </li>
                    
                  </ul>
                  <!-- <ul>
                    <li> -->
                        <form class="form-inline my-2 my-lg-0" action="/search" method="post">
                            <input class="form-control mr-sm-2" type="text"  name="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                          </form>
                    <!-- </li> -->
                    <li class="search" hidden>
                        <form action="/" method="post" hidden>
                        <div class="input-group">
                            <input type="text" placeholder="Search.." name="search">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><i
                                        class="icon-search"></i></button>
                            </span>
                        </div></form>
                    <!-- </li>
                  </ul> -->
                  



                  <!-- <form action="/search" method="post" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="search">
                    <button type="submit">search</button>
                </form></li>

                <li class="search" hidden>
                    <form action="/" method="post" hidden>
                    <div class="input-group">
                        <input type="text" placeholder="Search.." name="search">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i
                                    class="icon-search"></i></button>
                        </span>
                    </div></form>
                </li> -->
            <!-- </div> -->
                </div>
              </nav>
           


            <div class="row product-lists ">
                <%products.forEach(function(x){ %>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="/singleproduct/<%= x._id %>"><img src="/images/cars/<%= x.image[0] %>"
                                        style="height:150px;object-fit: cover;" alt=""></a>
                            </div>
                            <h3>
                                <%=x.productName%>
                            </h3>
                            <p class="product-price"><span><%=x.price%></span> </p>
                            <p class="product-price"><b><span>Year-<%=x.year%> | KM-<%=x.km%></span></b> </p>
							<a href="/singleproduct/<%= x._id %>" class="cart-btn"><i class=""></i> View Details</a> 

                            
                                <!-- <form action="/addToWishlist/<%= x._id %> " method="post">
                                    <button type="submit" class="btn btn-light btn-outline btn-lg rounded-pill" style="width: 200px;"><b>Add to Interest</b></button>
                                </form> -->

                        </div>
                    </div>

                    <% }) %>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="pagination-wrap">
                        <% if(hasPreviousPage){ %>
                            <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:rgb(253, 97, 6)" class="text-center"
                              href="/allproducts?page=<%= PreviousPage %>"><i class="fa fa-chevron-left"
                                aria-hidden="true"></i>&nbsp; Previous</a>
                            <% } %>
                              <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:rgb(253, 97, 6); border: 2px solid rgb(253, 97, 6); border-radius: 50px;"
                                href="/allproducts?page=<%= page %>">
                                <%= page %>
                              </a>
                              <% if(hasNextPage) { %>
                                <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:rgb(253, 97, 6);"
                                  href="/allproducts?page=<%=  page+1 %>">Next &nbsp; <i class="fa fa-chevron-right"
                                    aria-hidden="true"></i></a>
                                <% } %>
                        <!-- <ul>
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a class="active" href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Next</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end products -->



    <%-include('./layout/user-footer.ejs') -%>