<%-include('../user/layout/user-header.ejs') -%>
  <!---start---->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p><u>CarZHuB</u></p>
            <h1>
              <%=product.productName%>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---end --->


  <!-- single product -->
  <div class="single-product mt-150 mb-150">
    <div class="container ">
      <div class="row justify-content-center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel justify-content-center">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/images/cars/<%= product.image[0] %>" class="MagicZoom"
                data-options="zoomWidth:400px; zoomHeight:400px"><img src="/images/cars/<%= product.image[0] %>" /></a>
            </div>
            <%product.image.forEach((image,index)=>{ %>
              <%if(!index==0){%>
                <div class="carousel-item ">
                  <a href="/images/cars/<%=image %>" class="MagicZoom"
                    data-options="zoomWidth:400px; zoomHeight:400px"><img src="/images/cars/<%=image %>" /></a>
                </div>
                <%} %>
                  <% })%>

          </div>

          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <br>
      <div class="col-md-7 ">

        <h2>
          <%=product.productName%>
        </h2>
        <p>
          <%=product.description%>
        </p>
        <span><strong>Price - <%=product.price%> Rs</strong> </span></p>

        <strong>Advance Payment - <%=product.advance%> Rs</strong>

      </div>
      <br>
      <div class="container">
        <div class="row m-0 bg-light">
          <div class="col-md-4 col-6 ps-30 pe-0 my-4">
            <p class="text-muted">Kilometer</p>
            <p class="h5">
              <%=product.km%><span class="ps-1">Km</span>
            </p>
          </div>
          <div class="col-md-4 col-6  ps-30 my-4">
            <p class="text-muted">Location</p>
            <p class="h5 m-0">
              <%=product.location.location%>
              
            </p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Fuel</p>
            <p class="h5 m-0">
              <%=product.fuelType.fuelType%>
            </p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Category</p>
            <p class="h5 m-0">
              <%=product.type.typeName%>
            </p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Registration</p>
            <p class="h5 m-0">
              <%=product.reg%>
            </p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Brand</p>
            <p class="h5 m-0">
              <%=product.brand.brand%>
            </p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Year</p>
            <p class="h5 m-0">
              <%=product.year%>
            </p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Ownership:</p>
            <p class="h5 m-0">
              <%=product.owner%>
            </p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Transmission</p>
            <p class="h5 m-0">
              <%=product.transmission%>
            </p>
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-7 ">
               <div class="single-product-content">
                   <h2><%=product.productName%></h2>
                   <p class="single-product-pricing"><span><strong>Rs-<%=product.price%></strong> </span></p>
                   <p><%=product.description%></p>
                  <div class="single-product-form">
                       
                       
                       <p><strong>Categories: </strong><%=product.type.typeName%></p>
                       <p><strong>Brand: </strong><%=product.brand.brand%></p>
                       <p><strong>Fuel:</strong><%=product.fuelType.fuelType%></p>
                       <p><strong>KM:</strong><%=product.km%></p>
                       <p><strong>Year:</strong><%=product.year%></p>
                       <p><strong>Ownership:</strong><%=product.owner%></p>
                       <p><strong>Location: </strong><%=product.location.location%></p>
                       
                       <strong>Advance:</strong><%=product.advance%> -->

      <br>
      <div style="display: flex; justify-content: center;">
        <% if(product.status=="Unblocked" ) { %>
          <form action="/carblocking/<%= product._id %> " method="get">
            <button type="submit" class="btn btn-outline-secondary btn-lg rounded-pill" style="width: 200px;">Book
              Vehicle</button>
          </form>
          <% } else { %>

            <button type="submit" class="btn btn-danger btn-outline btn-lg rounded-pill"
              style="width: 200px;">Booked</button>

            <% } %>
              <!-- <form action="/addToWishlist/<%= product._id %> " method="post"> -->
              <% if (user) { %>
                <button onclick="addWishlist('<%= product._id %>')" type="submit"
                  class="btn btn-light btn-outline btn-lg rounded-pill" style="width: 200px;"> Add to Interest</button>
                <!-- </form> -->
                <% } else { %>
                  <a class="btn btn-light btn-outline btn-lg rounded-pill" style="width: 200px;" href="/login"> Add to
                    Interest</a>
                  <% } %>
      </div>
    </div>
  </div>
  </div>

  </div>
  </div>
  </div>
  <!-- end of single product -->



  <script>
    function addWishlist(prodId) {

      $.ajax({
        url: '/addToWishlist/' + prodId,
        method: "post",
        success: (Response) => {
          if (Response.exist) {
            
            // Swal.fire({
            //   title: 'Added To Wishlist',
            //   icon: 'success',
            //   showClass: {
            //     popup: 'animate__animated animate__fadeInDown'
            //   },
            //   hideClass: {
            //     popup: 'animate__animated animate__fadeOutUp'
            //   }
            // })
            Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'Successfully Added to Wishlist',
  showConfirmButton: false,
  timer: 1500
})
          }else{
            Swal.fire({
              title: 'Alredy exist',
              icon: 'success',
              showClass: {
                popup: 'animate__animated animate__fadeInDown'
              },
              hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
              }
            })

          }

        }
      })





    }
  </script>

  <%-include('../user/layout/user-footer.ejs') -%>